body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  padding: 20px 200px;
}

.header-logo img {
  width: 150px;
}

.header-link {
  display: flex;
  margin-left: auto;
  gap: 20px;
  align-items: center;
}

.header-link a {
  font-size: 24px;
  text-decoration: none;
  color: #f9faf8;
}

.hero {
  display: flex;
  padding: 20px 200px;
  background-color: #1f2937;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  flex-basis: 400px;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  width: 150px;
}

.hero img {
  width: 400px;
  height: auto;
}

button {
  background-color: #3882f6;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
